# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
---
# exclude: "^docs/ref/"

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.7
    hooks:
      - id: ruff
        # Run the linter.
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
        # Run the formatter.

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        # additional_dependencies:
        #   - types-pyyaml>=6.0.0.0

  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '^.*\.md$'
      - id: debug-statements
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: mixed-line-ending
        args: ["--fix=lf"]
        exclude: '^.*\.bat$'
